

<wsv2-app-header-layout
  [UserRole]="roleUser"
  [CartItemsCount]="CartItemsCount"
  [isShopHeader]="true"
  [company_name_1]="_company_name_1"
  [company_name_2]="_company_name_2"
  [srcLogo]="_srcLogo"
  [company_phone]="_company_phone"
  [company_normalize_phone]="_company_normalize_phone"
  [menuItems]="_menuItems"
  (_onClickCart)="onClickCart($event)"
  (_onClickLogin)="onClickLogin($event)"
  (_onClickLogof)="onClickLogof($event)"
  (_onClickOrder)="onClickOrder($event)"
  (_onClickOptPrice)="onClickOptPrice($event)"
  (_onClickNotOptPrice)="onClickNotOptPrice($event)"
  (_onClickManager)="onClickManager($event)"
  (_onClickAdmin)="onClickAdmin($event)"
  (_onClickGoAppShop)="onClickGoAppShop($event)"
  (_onToggleSideBar)="onSideBarVisible()"
></wsv2-app-header-layout>

<div name="main" class="conteiner"
    [ngClass]="{
      'grid-container2': _flagPanel,
      'grid-container1': ! _flagPanel
    }"
  >
    <div class="sidenav" [ngClass]="{ hiden: !_flagSideBarHiden }" >
    <div class="sidenav-header" (click)="onSideBarVisible()" >
      <div style=" height: 24px;">
        <span><mat-icon aria-hidden="false" aria-label="navigate before icon" fontIcon="navigate_before"></mat-icon></span>


    </div>
    </div>

       <wsv2-x01-v1-sidebar
       [menuItems]="_menuItems"
       (onToggleSideBar)="onSideBarVisible()"
       >

       </wsv2-x01-v1-sidebar>



    </div>

    <div class="main_content">


<!-------------------------------------------------------- start  main content-->


<router-outlet></router-outlet>


  </div>

  <!----------------- create end-->
</div>
<x01-v1-footer></x01-v1-footer>
