@forward "../../../libs/app-styles/src/styles/variables.scss" with (
    $primary-color:  #953B97, // #76d4b9,  // #768dd4 !default,
    $primary-lighter-color: #dfc4e0 , // #9EAFE0 !default
    $primary-darker-color:#78267a,
    $accent-color: #524d4d,
    $accent-lighter-color:#cbcaca,
    $accent-darker-color:#383434
    );
@use "../../../libs/app-styles/src/styles/style.scss" as s;
@use "@angular/material" as mat;
//  mat.core()- должен быть включен ровно один раз
@include mat.core();

// accent --  #656464 #6f6969
// ligt accent #d1d1d1
// dark accent #494848 17.04.23
// primary dark #78267a

/* --Основной миксин должен быть включен ровно один раз для вашего приложения,--!! 
@use '@angular/material' as mat;
@include mat.core();

Angular Material определяет mixin named core , 
который включает необходимые стили для общих функций,
 используемых несколькими компонентами. 
 Основной миксин должен быть включен ровно один раз для вашего приложения, 
 даже если вы определяете несколько тем. 
 Включение основного миксина несколько раз приведет к дублированию CSS в вашем приложении.
*/

$my-warn: mat.define-palette(s.$mat-warn, main, lighter, darker);
$my-accent: mat.define-palette(s.$mat-accent, main, lighter, darker);
$my-primary: mat.define-palette(s.$mat-primary, main, lighter, darker);
@function HexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
  }

$my-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent,
            warn: $my-warn,
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )
);

//@include mat.all-component-themes($my-theme);

@include s.mixin-mat-component-themes ($my-theme);

